<div class="noSignUpPrompt">
    <div>
        <h3>Create an account<img id="cross" src="/img/close.svg" alt="close"></h3>
        <div>
            <div class="signupBanner">
               With a Type Arena account, <br>get stared with a journy from novice to legendary typing skills. <br>The cost and pain of the journey is on us!
               <!-- <img src="/img/typewriter.svg" alt="typewriter"> -->
            </div> 
            <hr style = "width:0; height: 85%; margin: 0; opacity: 0.5;">
            <form class="signupForm" action="/signup" method="POST">
                <div class="signupStatus"></div>
                <div>
                    <input type="text" name="name" placeholder="Full Name" pattern="[A-Za-z]+" maxlength="20" title="Only english characters allowed." spellcheck="false" required>
                </div>
                <div>
                    <input type="text" name="username" placeholder="Set username" pattern="[a-zA-Z0-9-]+" maxlength="10" title="Only english characters allowed." spellcheck="false" required>
                </div>
                <div>
                    <input type="email" name="email" placeholder="Email ID" spellcheck="false" required>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Create Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" spellcheck="false" required>
                </div>
                    <button type="button">Sign up</button>
            </form>
        </div>
    </div>
</div>
<div class="noLoginPrompt">
    <div>
        <h3>Login<img id="crossLogin" src="/img/close.svg" alt="close"></h3>
        <div>
            <form class="loginForm" method="POST">
                <div class="loginStatus"></div>
                <div>
                    <input type="text" name="username" placeholder="username" pattern="[a-zA-Z0-9-]+" maxlength="10" title="Only english characters allowed." spellcheck="false" required>
                </div>
                <div>
                    <input type="password" name="password" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" spellcheck="false" required>
                </div>
                <div>
                    <a class="forgotPassowrd" href="/forgotPassword">Forgot Password</a>
                </div>
                    <button type="button">Login</button>
            </form>
        </div>
    </div>
</div>
<nav>
    <div>
        <ul>
            <li>
                <a href="/" class="logo">
                    <img src="/img/navlogo.svg" alt="logo" >
                </a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <% if(logged){ %>
                    <a href="/profile"><%= name %></a>
                <% }else{ %>
                    <a class='navLogin' href="#">login</a>
                <% } %>
            </li>
            <li>
                <% if(logged){ %>
                    <a class="navLogout" href="/logout">Log out</a>
                <% }else{ %>
                    <a class="navSignup" href="#">Sign up</a>
                <% } %>
            </li>
        </ul>
    </div>
</nav>  