    <%- include('partials/head') %>
    <title>Dataset | Admin - Typearena</title>
    <link rel="stylesheet" href="/css/adminDataset.css">
</head>
<body>
    <%- include('partials/navLoginSignup') %>
    <section>
        <aside>
            <div>
                Aside 1
            </div>
        </aside>
        <main>
            <div>
                <h1>
                    Dataset
                </h1>
                <div>
                    <form action="/admin/dataset/upload" method="POST" enctype="multipart/form-data">
                        Select a JSON file <br>
                        <input type="file" name="dataset"> <br> <br>
                        <button type="submit">send file</button>
                    </form>
                </div>
            </div>
        </main>
        <aside>
            <div>
                Aside 2
            </div>
        </aside>
    </section> 
    <%- include('partials/footer') %>
</body>
</html>
