<html>
    <head>
        <link href="/css/errorAnimation.css" rel="stylesheet">
        <script type="module" src="/js/errorAnimation.js"></script>
    </head>
    <body>
        <div id="world"></div>
    </body>
</html>