<%- include('partials/head') %>
<title>Oops | Typearena</title>
<link href="/css/error.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/navLoginSignup') %>
    <section>
        <aside>
            <div>
                Aside 1 <br> Advertisement
            </div> 
        </aside>
        <main>
            <div>
                <div>
                    <div>
                        <%- msg %>
                    </div>
                </div>
                <section id="errorAnimation">
                    <div id="credits">
                        <div id="instructions">Double click and hold to pet your lion</span></div>
                        <p>Prints on <a class="society6" href="https://society6.com/yakudoo/"  target="blank">society6</a> | <a href="https://codepen.io/Yakudoo/"  target="blank">my other codepens</a> | <a href="https://www.epic.net" target="blank">epic.net</a></p>
                    </div>
                    <iframe src="/errorAnimation">
                    </iframe>
                </section>
            </div>
        </main>
        <aside>
            <div>
                Aside 2 <br> Advertisement
            </div>
        </aside>
    </section> 
    <%- include('partials/footer') %>
</body>
</html>
