<%- include('partials/head') %>
<title>Oops | Typearena</title>
<link href="/css/error.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/navLoginSignup') %>
    <section>
        <aside>
            <div>
                Aside 1 <br> Advertisement
            </div> 
        </aside>
        <main>
            <div>
                <div>
                    <div>
                        <%- msg %>
                    </div>
                </div>
            </div>
        </main>
        <aside>
            <div>
                Aside 2 <br> Advertisement
            </div>
        </aside>
    </section> 
    <%- include('partials/footer') %>
</body>
</html>
