<!DOCTYPE html>
    <head>
        <title>Typearena</title>
        <link href="css/homestyle.css" rel="stylesheet">
        <link href="css/signup.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu&display=swap" rel="stylesheet">   
        <link href="https://fonts.googleapis.com/css?family=Roboto|Squada+One&display=swap" rel="stylesheet">   
        <link rel="shortcut icon" href="favicon.ico" />
        <script src="https://kit.fontawesome.com/077c16c1d1.js" crossorigin="anonymous"></script> 
        <script
         src="https://code.jquery.com/jquery-3.4.1.min.js"
         integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
         crossorigin="anonymous">
        </script>
         <script src="js/fadeeffect.js"></script>
         <script src="js/signup.js"></script>
        </head>
    <body>
        <div class="noSignUpPrompt">
            <div>
                <h3>Sign up <i id="cross" class="fas fa-times"></i></h3>
                <div>
                    <form action="/signup" method="POST">
                        <div>
                            <input type="text" name="firstName" placeholder="First Name" pattern="[A-Za-z]+" maxlength="10" title="Only english characters allowed." spellcheck="false" required>
                            <input type="text" name="lastName" placeholder="Last Name" pattern="[A-Za-z]+" maxlength="10" title="Only english characters allowed." spellcheck="false" required>
                        </div>
                        <div>
                            <input type="email" name="emailId" placeholder="Email ID" spellcheck="false" required>
                            <input type="password" name="password" placeholder="Create Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" spellcheck="false" required>
                        </div>
                        <button type="submit">Sign up</button>
                    </form>
                    <div></div>
                </div>
            </div>
        </div>
        <nav>
            <div>
                <ul>
                    <!-- <li>
                        <a href="/" class="logo">
                            <img src="img/navlogo.svg" alt="logo" >
                        </a>
                    </li> -->
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="#">login</a>
                    </li>
                    <li>
                        <a href="#">Sign up</a>
                    </li>
                </ul>
            </div>
        </nav>   
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-3">
                        </div>
                <div class="col-10 uppermostheading"><h1 class="uppermostheading"><img src="img/fulllogo.svg" class="uppermostlogo"></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-12">
                            <p class = "uppermostpara"></p>
                        </div>
                    </div>
                    <div class="row topmostbutton">
                        <div class = "col-12 topmostbutton">
                            
                             <button class="topmostbutton"> <a href="/race"> Start typing <i class="fas fa-angle-right"></i></a></button>
                             
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <video class="typearenaimage" muted autoplay loop preload="auto" src="vid/demo.webm">
                </div>
            </div>
        </div>

<br> <br> <br>


        <div class="container">
            <div class="row">
                <div class="col-6 iconcolumn">
                        <img class="megaicons fade" src="img/Group 13.svg">
                </div>
                <div class="col-6 halfcontainercard">
                    <div class="row">
                        <div class="col-3 colortheme">
                            <img src="img/bluepolygonfive.svg" class="colortheme">
                        </div>
                <div class="col-9 featurehead"><h1>Ultimate user experience</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-12 level1">
                            <p class = "featurepara">We believe typing is a gratifying activity.  Therefore we provide you with comfortable enviroment to learn typing. Ranging from dark mode to fun games, everything is designed to give user a beautiful experience. Moreover most of the things are personalized and customizable in settings making it super user friendly </P>
                        </div>
                    </div>
                    <div class="row topmostbutton">
                        <div class = "col-12 featurebutton">
                            <button class="featurebuttonblue"> <a href="#">Experience it!</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        





        <div class="container">
            <div class="row">
                <div class="col-6 halfcontainercard">
                    <div class="row">
                        <div class="col-3 colortheme">
                            <img src="img/Polygon 5.svg" class="colortheme">
                        </div>
                <div class="col-9 featurehead"><h1>Plenty of modes to choose from</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-12 level1">
                            <p class = "featurepara">Typing is a vast skill. It should not be limited to just copying down the text. Along with fast hand it requries good ears, excellent hand-eye coordination, retention memory, concentration and much more. We here at Typearena want to tick all the departments when it comes to typing through our various modes and interactive games. </P>
                        </div>
                    </div>
                    <div class="row topmostbutton">
                        <div class = "col-12 featurebutton">
                            <button class="featurebuttongreen"> <a href="#">Explore modes</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-6 iconcolumn">
                    <img class="megaicons fade" src="img/Group 12.svg">
            </div>
            </div>
        </div>
        


        <div class="container">
            <div class="row">
                
                <div class="col-6 iconcolumn">
                    <img class="megaicons fade" src="img/Group 15.svg">
            </div>
            <div class="col-6 halfcontainercard">
                <div class="row">
                    <div class="col-3 colortheme">
                        <img src="img/cyanpolygonfive.svg" class="colortheme">
                    </div>
            <div class="col-9 featurehead"><h1>Hustle your way to the top!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-12 level1">
                        <p class = "featurepara">Join the arena to test your typing skills while racing with other top typers online and boost your typing accuarcy and skills. Practice and become master of the game. Climb the leaderboard by beating your friends and typers from around the globe in the arena mode. Also chat, challenge and make new friends while making your way to the top. </P>
                    </div>
                </div>
                <div class="row topmostbutton">
                    <div class = "col-12 featurebutton">
                        <button class="featurebuttoncyan"> <a href="#">Goto leaderboard</a></button>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-6 halfcontainercard">
                    <div class="row">
                        <div class="col-3 colortheme">
                            <img src="img/yellowpolygonfive.svg" class="colortheme">
                        </div>
                <div class="col-9 featurehead"><h1>Learn typing and earn money</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-12 level1">
                            <p class = "featurepara">Master your accuracy and speed to unlock this mode. Sign up to take a typing job posted by others. Transcribe text, do image copying, come up with subtitles and many other similar typing jobs. Complete jobs and earn real money as you learn to type. Build your skills and expand your network on the side.</P>
                        </div>
                    </div>
                    <div class="row topmostbutton">
                        <div class = "col-12 featurebutton">
                            <button class="featurebuttonyellow"> <a href="#">Learn more</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-6 iconcolumn">
                    <img class="megaicons fade" src="img/Group 14.svg">
            </div>
            </div>
        </div>
        
        <footer class="foots">
            <div class="row">
            <div class="col-4">
                <ul>
                    <lh>Company</lh>
                    <li>About</li>
                    <li>Blog</li>
                    <li>careers</li>
                </ul>
            </div>
            <div class="col-4">
                <ul>
                    <lh>Learn more</lh>
                    <li>Rewarding</li>
                    <li>Rankings</li>
                    <li>Events</li>
                </ul>
            </div>
            <div class="col-4">
            <label class="foottext"><h6>Made in IN with &#x2764;</h6></label>
                </div>
                </div>
        </footer>
    </body>
</html>