* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #121212;
}
body::-webkit-scrollbar {
    width: 0;
}
   
html::-webkit-scrollbar {
    width: 0;
}
   

/* ================Section CSS Starts================= */

body > section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1;
}

body > section > aside{
    display: flex;
    width: 20%;
    height: 100%;
    padding: 0;
    word-wrap: break-word;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

aside > div {
    display: block;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
}


main > div {
    display: block;
    align-items: center;
    width: 95%;
    height: 90%;
    background-color: #1c1c1c;
    border-radius: 22px;
}

#errorAnimation{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    text-align: right;
    align-items: flex-end;
    z-index: 3;
}

main > div > div{
    position: absolute;
    width: 50%;
    height: 50%;
    color: white; 
    padding-left: 4%;
    padding-top: 6%;
    font-size: 2rem;
    font-weight: 800;  
}



iframe{
    position: absolute;
    border: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 2;
    border-radius: 22px;
}

#instructions{
    width:100%;
    right: 0;
    margin: auto;
    margin-top:120px;
    font-family:'Open Sans', sans-serif;
    color:#b297a2;
    font-size: 2em;
    text-transform: uppercase;
    padding-right: 10px;
    text-align: right;
    user-select: none;
  }
  .lightInstructions {
    color:#b297a2;
    font-size:.8em;
  }
  
  #credits{
    width:100%;
    margin: auto;
    bottom:0;
    margin-bottom:20px;
    font-family:'Open Sans', sans-serif;
    color:#b297a2;
    font-size:0.7em;
    text-transform: uppercase;
    text-align : right;
    padding-right: 10px;
    z-index: 4;
  }
  #credits a {
    color:#b297a2;
  }
  
  #credits .society6 {
    color:#993f4c;
  }

/* ================Section CSS Ends================= */


/* =================Footer CSS Starts=================== */

footer{
    text-align: center;
    height: 12vh;
    line-height: 12vh;
    color: white;
    background-color: #1C1C1C;
    align-items: center;
}

/* =====================Media Queries================ */

@media only screen and (max-width: 555px) {
    
    body > section {
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        height: 10%;
    }

    body > section > aside:nth-child(1){
        display: none;
    }

    body > section > aside:nth-child(2){
        width: 100%;
        margin: 0;
        height: 5px;
    }

    main{
        width: 95%;
        margin: 3%;
    }
    
    .ty{
        min-width: 50px;
        max-width: 180px;
        font-size: 16px;
    }
}