
/*fonts
font-family: 'Ubuntu', sans-serif;
font-family: 'Lato', sans-serif;
*/
/*############################ defaults ####################*/
* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    box-sizing: border-box;
    color: white;
    /* border: 1px white dashed; */
}

/* =======================nav bar============================= */


nav{
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(18, 17, 16);
    z-index: 10;
}

nav > div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}

nav > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 50%;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none; 
    width: auto;
    margin: 0;
    padding: 0;
}

nav li { 
    float: left;
    padding: 0;
    text-align: center;
    margin-right: 1vw;
}

nav li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 16px 20px;
}

nav > div:nth-child(2) li:nth-child(2) a{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: 0px 0px 5px 6px rgb(18, 17, 16) inset;
    box-shadow: inset;
    border-radius: 22px;
    padding: 16px 20px;
    font-size: x-large;
    font-weight: 600;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8.9em;
    padding: 0px;
    margin:0;
    text-align: center;
    margin-left: 120%;
    background: linear-gradient(45deg,  #28ABE0, #6AE91A);
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
}


.logo > img{
    /* display: block; */
    /* height: auto; */
    width: 9em;
    /* margin-top: 2px;
    margin-bottom: 2px; */
    /* height: 100%;*/
    /* width: 100%;  */
    /* min-height: 30%;
    min-width: 30%;
    width: 30%;
    height: 30%; */
}

/* ================================================================== */

header, footer{
    display: block;
} 

html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
line-height: 1;
margin: 0;
background-color: rgb(18, 17, 16);
}

body::-webkit-scrollbar {
    display: none;
  }


.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 2%;
}
.row{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;/*imp with rows*/
    flex-wrap: wrap;
    align-items: center;}
.row::after{
    display: table;
    clear: both;
    content:"";
}

p{
    line-height: 1.2;
    /* font-family: 'Lato', sans-serif; */
    font-size: 25px;
    max-width: 100%;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

button{
    margin-top: 20px;
    border-radius: 7px;
    font-size: 40px;
    padding: 0;
    box-shadow: 1px;
    border: none;
    text-align: center;
    color: white;
    background-color: black;
    /* font-family: 'Ubuntu', sans-serif; */
    box-shadow: 0px 0px 10px 4px rgba(87, 77, 77, 0.336);
}


/*################# customs #########*/


.row.mainbody{
    padding: 0;
    margin: 0;
}


img.uppermostlogo{
    display: block;
    max-width: 100%;
}
img.megaicons{
max-width: 100%;
max-height: 400px;
}

img.colortheme{
    max-width: 40%;
}

h1.uppermostheading{
    margin: 0;
    max-width: 100%;
    color: rgb(27, 27, 27);
}

p.uppermostpara{
    color: white;
    margin-top: 0;
    padding-bottom: 80px;
    margin: 0;
    text-align: center;
}
p.featurepara{
    padding-left: 100px;
    max-width: 100%;
    font-size: 20px;
    text-align: justify;
    color: white;
}

.col-9.uppermostheading{
    text-align: center;
    padding-left: 0px;
    /* font-family: 'Ubuntu', sans-serif; */
    max-width: 100%;
    font-size: 40px;
    color: rgb(12, 12, 12);
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    margin: 0;
}
.col-9.featurehead{
    padding-left: 20px;
    /* font-family: 'Ubuntu', sans-serif; */
    max-width: fit-content;
    font-size: 22px;
    color: rgb(32, 32, 32);
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.col-6.iconcolumn{
    text-align: center;
    justify-content: space-evenly;
    /*incomplete add more*/
}
.col-12.topmostbutton{
 text-align: center;
}

.col-12.featurebutton{
    text-align:center ;
}

.col-3.colortheme{
    text-align: right;
}
.col-6.halfcontainercard{
    border-radius: 20px;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-right: 2%;
    background-color: #252525;
    /* box-shadow: 0px 10px 15px rgba(87, 77, 77, 0.336); */
}

video.typearenaimage{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

button.featurebuttongreen{
    font-size: 20px;
    background-color: #32B559;

}

button.featurebuttonblue{
    font-size: 20px;
    background-color: #35C0DC;

}
button.featurebuttoncyan{
    font-size: 20px;
    background-color: #4DCCB7;

}
button.featurebuttonyellow{
    font-size: 20px;
    background-color: #BE9A63;

}

footer.foots {
    background-color: #252525;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
footer.foots ul{
    text-align: left;
    padding: 0;
    line-height: 1.5;
    list-style: none;
    padding-left: 25%;
}
footer.foots ul lh{
    font-size: 25px;
    color:white;
    /* font-family: 'Ubuntu', sans-serif; */
}
footer.foots ul li{
    font-size: 17px;
    color:white;
    text-align: left;
    /* font-family: 'Righteous', cursive; */
}
label.foottext{
    color: white;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
/*########## transition#########*/
button.topmostbutton > a{ 
    background-color: #252525;
    animation-play-state: paused;
    animation: fillalterantecolor 5s ease-in-out infinite ;
}

@keyframes fillalterantecolor{
    0% {
    color: white;
    }
    33%{
        color: rgb(111, 221, 243);  
    }
    66%{
    color: rgb(91, 233, 134);
    }
    100%{
        color: white;
    }
}

a{
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
}
/*################################*/