.login *{
    margin: 0;
    padding: 0;
}

.noLoginPrompt{
    display: none;
}

.login{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.login > div{
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    border-radius: 10px;
    /* box-shadow: 0px 0px 6px 8px black; */
    width: 20%;
    height: 60%;
    max-height: 541px;
    min-width: 425px;
    min-height: 485px;
    animation: loginPromptIn 0.3s ease-in 0s forwards;
    background-color: rgba(255,255,255, 0.24);
    background-position: 170% 120%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

@keyframes loginPromptIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.login > div > h3{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    color: white;
    font-size: xx-large;
    background-color: rgba(0,0,0,0.7);
}

.login > div > h3 > img{
    cursor: pointer;
    padding-right: 3.5%;
}

.login > div > div{
    display: flex;
    flex-direction: row;
    flex: 6;
    background-color: rgba(0,0,0,0.7);
    /* border: 1px white solid; */
}

.login > div > div > form{
    /* all: initial; */
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    /* padding: 15px; */
    /* border: 1px white solid; */
}

.login > div > div > form > div> input{
    margin: 10px;
    padding-top: 8px;
    font-size: 24px;
    max-width: 70%;
    color: white;
    background-color: transparent !important;
    outline: none;
    border: none;
    border-bottom: 2px rgba(255,255,255, 0.7) solid;
}

.login > div > div > form > button{
    margin: auto;
    /* flex: 1.5; */
    width: 7rem;
    background: transparent;
    border: 2px white solid;
    color: white;
    border-radius: 22px;
    padding: 8px 14px;
    font-size: x-large;
    font-weight: 600;
}

.forgotPassowrd{
    color: white;
    font-size: 80%;
    text-decoration: underline;
}

.loginStatus{
    color: red;
    height: 30px;
    text-align: center;
}


.login > div > div > form > button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 6px rgba(255,255,255,0.1);
}

.login > div > div > div{
    /* border: 1px white solid; */
    flex: 1;
}
