* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    /* border: 1px white dashed; */
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #252525;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

nav > div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}

nav > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 50%;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none; 
    width: auto;
    margin: 0;
    padding: 0;
}

nav li { 
    float: left;
    padding: 0;
    text-align: center;
    margin-right: 1vw;
}

nav li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 16px 20px;
}

.navSignup{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: 0px 0px 5px 6px #252525 inset;
    border-radius: 22px;
    padding: 12px 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8.9em;
    padding: 0px;
    margin:0;
    text-align: center;
    margin-left: 15vw;
    background: linear-gradient(45deg,  #28ABE0, #6AE91A);
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
}


.logo > img{
    /* display: block; */
    /* height: auto; */
    width: 9em;
    transform: scale(1.05);
    /* margin-top: 2px;
    margin-bottom: 2px; */
    /* height: 100%;*/
    /* width: 100%;  */
    /* min-height: 30%;
    min-width: 30%;
    width: 30%;
    height: 30%; */
}

@media only screen and (max-width: 555px) {
    .logo{
        margin-left: 1vw;
    }
}