* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #252525;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

nav > div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}

nav > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 50%;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none; 
    width: auto;
    margin: 0;
    padding: 0;
}

nav li { 
    float: left;
    padding: 0;
    text-align: center;
    margin-right: 1vw;
}

nav li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 16px 20px;
}

nav > div:nth-child(2) li:nth-child(2) a{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: 0px 0px 5px 6px #252525 inset;
    box-shadow: inset;
    border-radius: 22px;
    padding: 16px 20px;
    font-size: x-large;
    font-weight: 600;
}


nav > div:nth-child(2) li:nth-child(2) a:hover{
    animation: gradienthover 0.2s ease 0s 1 normal forwards;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradienthover{
    100%{
        box-shadow: 0px 0px 0px 0px #252525 inset;
        border-radius: 0;
        text-shadow: 0px 0px 20px #121212;
    }
}


.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 7.5em;
    padding: 0px;
    margin:0;
    text-align: center;
    margin-left: 150%;
}

.logo > img{
    /* display: block; */
    /* height: auto; */
    width: 7.5em;
    margin-top: 7px;
    margin-bottom: 6px;
    /* height: 100%;*/
    /* width: 100%;  */
    /* min-height: 30%;
    min-width: 30%;
    width: 30%;
    height: 30%; */
}