* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #121212;
}


/* ================Section CSS Starts================= */

body > section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1;
}

body > section > aside{
    display: flex;
    width: 20%;
    height: 100%;
    padding: 0;
    word-wrap: break-word;
}

main {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

aside > div {
    display: block;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
}

.confetti{
    pointer-events: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 90%;
    background-color: #1c1c1c;
    border-radius: 22px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.meters{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    /* align-content: center; */
    border-radius: 10px;
    margin: 10px;
    width: 95%;
    color: white;
    text-align: center;
    padding: 0;
    /* height: 300px; */
    flex: 1.4;
    overflow: hidden;
}

#timer{
    width: 100px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: -10px;
    margin: 0;
    padding: 0;
    top: -5px;
    font-size: 1.6rem;
    font-weight: 800;
}

.wpm{
    display: block;
    /* max-height: 70%;
    max-width: 50%; */
    color: white;
    font-family: 'Squada One', cursive;
    font-size: 1.75rem;
}


.meters > div{
    display: flex;
    flex-flow: column nowrap;
    align-self: flex-end;
    justify-items: center;
    padding: 6px;
    flex: 1;
    width: auto;
    height: 75%;
}

.meters > div:nth-child(4){
    flex: 1.6;
    height: 95%;
}


.wpm div{
    font-size: 0.50rem;
    font-weight: 600;
}

.wpm3{
    font-size: 2.75rem;
}

.meters > div > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80%;
    margin-bottom: 7px;
}


.meters > div > div:nth-child(1) > svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.meters > div > div:nth-child(2){
    flex-grow: 1;
} 

.meters > div > div:nth-child(2) > div{
    display: inline;
    font-size: 0.80rem;
    padding: 6px;
}


.meters > div > div:nth-child(2) > div:nth-child(1){
    font-size: 1.0rem;
    font-weight: 600;
    white-space: nowrap;
}


.text {
    position: relative;
    margin: 1%;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px lightgreen solid;
    border-radius: 16px;
    color: white;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 87%;
    font-size: 1.4rem;
    min-height: 100px;
    flex: 1.4;
}

#Author{
    position: absolute;
    padding-right: 15px;
    width: auto;
    right: 0;
    bottom: 0;
}

#Author a{
    font-size: 0.75rem;
    color: white;
    text-decoration: none;
}

main > div > div:nth-child(5){
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 80%;
}

.ty {
    border: 1px rgba(255, 255, 255, 0.3) solid;
    background-color: transparent;
    padding: 6px;
    padding-left: 10px;
    font-size: 1.25rem;
    border-radius: 16px;
    outline: none;
    width: 80%; 
}

.below-text-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.below-text-input img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px white solid;
    border-radius: 70%;
    width: 1.8rem;
    height: 1.8rem;
    padding: 4px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}

.error{
    color: white;
}

.hideAccuracy{
    visibility: hidden;
}

.showAccuracy{
    visibility: visible;
}

.typed{
    opacity: 0.3;
}


.cursor{
    background-color: black;
}

/* ================Section CSS Ends================= */


/* =================Footer CSS Starts=================== */

footer{
    text-align: center;
    height: 12vh;
    line-height: 12vh;
    color: white;
    background-color: #1C1C1C;
    align-items: center;
}

/* =====================Media Queries================ */

/* @media (min-resolution: 100dpi) { 
    body{
        background-color: red;
    }

 } */

 /* @media (-webkit-min-device-pixel-ratio: 1.25) { 
    .meters *{
        transform: scale(0.8);
    }
 } */

@media only screen and (max-width: 555px) {
    
    body > section {
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        height: 10%;
    }

    body > section > aside:nth-child(1){
        display: none;
    }

    body > section > aside:nth-child(2){
        width: 100%;
        margin: 0;
        height: 5px;
    }

    main{
        width: 95%;
        margin: 3%;
    }
    
    .ty{
        min-width: 50px;
        max-width: 180px;
        font-size: 1rem;
    }
}