* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #121212;
}


/* ================Section CSS Starts================= */

body > section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1;
}

body > section > aside{
    display: flex;
    width: 20%;
    height: 100%;
    padding: 0;
    word-wrap: break-word;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

aside > div {
    display: block;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
}


main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 90%;
    background-color: #1c1c1c;
    border-radius: 22px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.meters{
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    border-radius: 10px;
    margin: 10px;
    width: 95%;
    color: white;
    text-align: center;
    padding: 0;
    /* height: 300px; */
    flex: 1.4;
    overflow: auto;
    scroll-behavior: smooth;
}

.wpm{
    display: block;
    color: white;
    font-family: 'Squada One', cursive;
    font-size: xx-large;
}


.meters > div{
    display: flex;
    flex-flow: column nowrap;
    align-self: flex-end;
    justify-items: center;
    padding: 6px;
    flex: 1;
    width: auto;
    height: 75%;
}

.meters > div:nth-child(3){
    flex: 1.6;
    height: 95%;
}


.wpm div{
    font-size: small;
    font-weight: 600;
}

.wpm3{
    font-size: 3.5em;
}

.meters > div > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80%;
}


.meters > div > div:nth-child(1) > svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.meters > div > div:nth-child(2){
    flex-grow: 1;
} 

.meters > div > div:nth-child(2) > div{
    display: inline;
    font-size: large;
    padding: 6px;
}


.meters > div > div:nth-child(2) > div:nth-child(1){
    font-size: 1.3em;
    font-weight: 600;
}


.text {
    margin: 1%;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px lightgreen solid;
    border-radius: 16px;
    color: white;
    scroll-behavior: smooth;
    font-size: 1.3rem;
    min-height: 100px;
    flex: 1;
}

main > div > div:nth-child(5){
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 80%;
}

.ty {
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 6px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 22px;
    outline: none;
    width: 80%; 
}

.error{
    color: white;
}

.hideAccuracy{
    visibility: hidden;
}

.showAccuracy{
    visibility: visible;
}

.typed{
    opacity: 0.3;
}


.cursor{
    background-color: black;
}

/* ================Section CSS Ends================= */


/* =================Footer CSS Starts=================== */

footer{
    text-align: center;
    height: 12vh;
    line-height: 12vh;
    color: white;
    background-color: #1C1C1C;
    align-items: center;
}

/* =====================Media Queries================ */

@media only screen and (max-width: 555px) {
    
    body > section {
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        height: 10%;
    }

    body > section > aside:nth-child(1){
        display: none;
    }

    body > section > aside:nth-child(2){
        width: 100%;
        margin: 0;
        height: 5px;
    }

    main{
        width: 95%;
        margin: 3%;
    }
    
    .ty{
        min-width: 50px;
        max-width: 180px;
        font-size: 16px;
    }
}