* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #121212;
}

/* ===========Navigation Bar CSS=============== */

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #252525;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

nav > div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}

nav > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 50%;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none; 
    width: auto;
    margin: 0;
    padding: 0;
}

nav li { 
    float: left;
    text-align: center;
    margin-right: 1vw;
}

nav li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 10px 16px;
}

nav > div:nth-child(2) li:nth-child(2) a{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: 0px 0px 5px 6px #252525 inset;
    box-shadow: inset;
    border-radius: 22px;
    padding: 12px 16px;
    font-size: larger;
    font-weight: 600;
}


nav > div:nth-child(2) li:nth-child(2) a:hover{
    animation: gradienthover 0.2s ease 0s 1 normal forwards;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradienthover{
    100%{
        box-shadow: 0px 0px 0px 0px #252525 inset;
        border-radius: 0;
        text-shadow: 0px 0px 20px #121212;
    }
}
 
nav li a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.10);
}

/* ================Navigation Bar CSS Ends================= */

/* ================Section CSS Starts================= */

body > section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1;
}

body > section > aside:nth-child(1) {
    display: flex;
    width: 20%;
    height: 100%;
    padding: 0;
    word-wrap: break-word;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

body > section > aside:nth-child(3) {
    display: flex;
    width: 20%;
    height: 100%;
    word-wrap: break-word;
}

aside > div {
    display: block;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
}


main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 90%;
    background-color: #1C1C1C;
    border-radius: 22px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.meters{
    display: flex;
    border-radius: 10px;
    margin: 10px;
    width: 95%;
    color: white;
    text-align: center;
    padding: 0;
    height: 300px;
}

.meters > div{
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
    justify-items: center;
    flex: 1;
    width: auto;
    height: auto;
}

.meters > div > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80%;
}

.wpm{
    display: block;
    color: white;
    font-size: xxx-large;
}

.meters > div > div:nth-child(1) > svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.meters > div > div:nth-child(2){
    flex-grow: 1;
} 

.meters > div > div:nth-child(2) > div{
    display: inline;
    font-size: large;
    padding: 6px;
}


.meters > div > div:nth-child(2) > div:nth-child(1){
    font-size: 1.5em;
}


.text {
    margin-right: 5%;
    margin-left: 5%;
    color: white;
    font-size: medium;
    min-height: 100px;
}

.ty {
    margin-right: 5%;
    margin-left: 5%;
    min-width: 250px;
    max-width: 400px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 6px;
    font-size: 20px;
    border-radius: 22px;
    outline: none;
    text-align: center;
}

.error{
    color: white;
}


/* ================Section CSS Ends================= */


/* =================Footer CSS Starts=================== */

footer{
    text-align: center;
    height: 12vh;
    line-height: 12vh;
    color: white;
    background-color: #1C1C1C;
    align-items: center;
}

/* =====================Media Queries================ */

@media only screen and (max-width: 555px) {
    
    body > section {
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        height: 10%;
    }

    body > section > aside:nth-child(1){
        display: none;
    }

    body > section > aside:nth-child(2){
        width: 100%;
        margin: 0;
        height: 5px;
    }

    main{
        width: 95%;
        margin: 3%;
    }
    
    .ty{
        min-width: 50px;
        max-width: 180px;
        font-size: 16px;
    }
}